<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <img class="logo-centro" src="./img/logoFratelliVerde.png"/>
</div>
<div class="menu">
    <input type="checkbox" id="check">
    <label for="check">
        <span class="menu-hamburguer"></span>
    </label>
    <nav>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">A FRATELLI</a></li>
            <li><a href="">SERVIÇOS</a></li>
            <li><a href="">CLIENTES</a></li>
            <li><a href="">CONTATO</a></li>
        </ul>
    </nav>
</div>

<div>
    <div>
        <div>
            <img class="img" src="./img/banner.png"/>
        </div>
        <div>
            <a href="#" class="orcamento">Solicitar Orçamento</a>
        </div>
    </div>
    <div class="trianguloamarelo"></div>
    <div class="trianguloroxo"></div>
</div>
</body>

</html>
<style>
    @font-face {
        font-family: 'BigNoodleTitling';
        src: url("../fonts/big_noodle_titling.ttf")
    }

    .orcamento {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 220px;
        height: 70px;
        text-align: center;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: 5px solid #239B78;
        border-radius: 40px;
        font-family: BigNoodleTitling;
        font-size: 25px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    .orcamento:hover {
        background-color: #239B78;
        color: white;
        text-decoration: none;
    }

    .trianguloamarelo {
        border-bottom: 238px solid #FFBC00;
        border-right: 1920px solid transparent;
        height: 0px;
        width: 0px;
        position: fixed;
    }

    .trianguloroxo {
        border-bottom: 238px solid #521AB9;
        border-left: 1920px solid transparent;
        height: 0px;
        width: 0px;
        position: fixed;
    }

    .img {
        max-width: 100%;
        min-width: 100%;
        height: auto;
        alignment: center;
        z-index: 0;
    }

    a {
        text-decoration: none;
        color: black;
        background-color: #86BCAB;
        border-radius: 15px;
        font-family: BigNoodleTitling;
        font-size: 30px;
        display: block;
        margin: 5px;
        padding: 15px 10px;
        color: black;
    }

    a:hover {
        text-decoration: none;
        background-color: #239B78;
        color: white;
        padding: 15px;
    }

    ul {
        list-style: none;
        position: absolute;
        width: 100%;
        top: 80Px;
    }

    nav {
        left: -300px;
        position: absolute;
        width: 300px;
        height: 100%;
        transition: all .5s;
    }

    label {
        position: absolute;
        z-index: 1;
    }

    input[type="checkbox"]:checked ~ nav {
        transform: translateX(260px);
    }

    .menu-hamburguer {
        position: relative;
        display: block;
        background: #000;
        width: 50px;
        height: 8px;
        border-radius: 5px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    .menu-hamburguer:before,
    .menu-hamburguer:after {
        border-radius: 5px;
        background: #000;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .menu-hamburguer:before {
        top: -13px;
    }

    .menu-hamburguer:after {
        bottom: -13px;
    }

    input {
        display: none;
    }

    input:checked ~ label .menu-hamburguer {
        transform: rotate(45deg);
    }

    input:checked ~ label .menu-hamburguer:before {
        transform: rotate(90deg);
        top: 0px;
    }

    input:checked ~ label .menu-hamburguer:after {
        transform: rotate(90deg);
        bottom: 0px;
    }

    .menu {
        position: absolute;
        top: 2%;
        left: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .logo-centro {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 42.5%;
        width: 15%;
        height: 15%;
        display: block;
        background-color: white;
    }
</style>